<tr>
    <td> <%- topology.name %> </td>
    <td>
    	<% if(!!topology.config && !!topology.config.properties && topology.config.properties.description) { %>
			<%= topology.config.properties.description %>
		<% } else { %>
			No description yet
		<% } %>
	</td>
    <td> - </td>
    <td>
        <% if (topology.compiled) { %>
            <span class="font-green glyphicon glyphicon-ok"></span>
        <% } else { %>
            <span class="font-red glyphicon glyphicon-remove"></span>
        <% } %>
    </td>
    <td>
        <% if (topology.upload) { %>
            <span class="font-green glyphicon glyphicon-ok"></span>
        <% } else { %>
            <span class="font-red glyphicon glyphicon-remove"></span>
        <% } %>
    </td>
    <td> <%= timeago( new Date(Date.parse(topology.updated_at)) ) %> </td>
    <td>
        <a href="/editor?autoload=<%- topology._id.toHexString() %>"> <i class="glyphicon glyphicon-pencil font-blue"></i></a>

        <% if (topology.compiled && topology.upload)  { %>
            <a href="/topologies/<%- topology._id.toHexString() %>">&nbsp;<i class="glyphicon glyphicon-eye-open font-blue"></i></a>
        <% } %>
        <a href="#">&nbsp;<i class="glyphicon glyphicon-trash font-blue"></i></a>
    </td>
</tr>
